:root {
  // Primitives
  --c-primary: #11150A;
  --c-secondary: #F4F2EC;
  --c-accent: #DFEB57;
  
  // Shadows
  --sw-dp4: 0 1px 3px 0 rgb(0 0 0 / 13%), 0 0 0 0 rgb(0 0 0 / 11%);
  --sw-dp8: 0 3px 7px 0 rgb(0 0 0 / 13%), 0 0 1px 0 rgb(0 0 0 / 11%);
  --sw-dp16: 0 6px 14px 0 rgb(0 0 0 / 13%), 0 1px 3px 0 rgb(0 0 0 / 11%);
  --sw-dp64: 0 25px 57px 0 rgb(0 0 0 / 22%), 0 4px 14px 0 rgb(0 0 0 / 18%);
}
