---
import "@/styles/main.scss";
import { getLangFromUrl, useTranslations } from "../../i18n/i18n";
import Button from "../Button.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

interface Props {
	theme?: "default" | "home" | "project" | "contacts";
	onClick?: () => void;
}

const { theme = "default" } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang as "en" | "it");
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content={t("meta.description")}/>
		<title>{t("meta.title")}</title>
	</head>
	<body>
  <Button class="skip" label={t("action.skip_content")} href="#main_content"/>
 
	<Header />
	<main id="main_content" class:list={["main", theme]}>
	  <slot />
		<Footer />
	</main>
	</body>
</html>

<style lang="scss">
  .main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 7.5rem;
}

.contacts {
  padding-top: 0;
}
  
  // Skip link
  :global(.skip) {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: var(--z-index-top);
  }
  
  :global(.skip):focus-visible {
    @include focus-visible;
    top: 1rem;
    left: 1rem;
  }
</style>
