---
import { getStaticPaths, useTranslations } from "@/i18n/i18n";
import Typo from "../typography/Typo.astro";

const { lang } = Astro.params;
const t = useTranslations(lang as "en" | "it");
---

<div class="hero">
  <h1 class="title">
    <span>Handmade</span>
    <span>design</span>
    <span><em>&</em>develop</span>
  </h1>
  <Typo class="text" text={t('home.hero.text')} tag="p" color="accent" balancer/>
</div>

<style lang="scss">
.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "." "." "." "text";
  gap: var(--s-xxs);
  padding-bottom: var(--s-db);
  padding-inline: var(--s-xxl);
  
  @include media(sm) {
    padding-bottom: 7.5rem;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: ". ." ". text" ". .";
    gap: 0;
  }

  @include media(lg) {
    padding-inline: var(--s-big);
  }

  .title {
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-areas: "line1 line1" "line2 line2" "line3 line3";
    justify-content: center;
    font-size: 14vw;
    font-weight: var(--fw-black);
    text-transform: uppercase;
    line-height: 0.8;
    position: relative;
  }

  .title > * {
    width: fit-content;
    justify-self: center;
  }
  
  .title > *:nth-child(1) {
    grid-area: line1;
  }
  
  .title > *:nth-child(2) {
    grid-area: line2;
    animation: slideLeft 2s ease-out forwards;
  }
  
  .title > *:nth-child(3) {
    grid-area: line3;
    animation: slideRight 2s ease-out 0.25s forwards;
  }
  
  @keyframes slideLeft {
    to {
      translate: -35.5% 0;
    }
  }
  
  @keyframes slideRight {
    to {
      translate: 12% 0;
    }
  }

  em {
    display: inline-block;
    font-weight: var(--fw-semi);
    font-size: 12vw;
    font-style: normal;
    color: var(--c-accent);
    animation: slideUp 1s ease-out 1s forwards;
  }

  @keyframes slideUp {
    to {
      translate: 30% -40%;
    }
  }

  :global(.text) {
    grid-area: text;
    font-size: 6vw !important;
    align-self: center;
    opacity: 0;
    animation: fadeIn 1s ease-out 1.25s forwards;
    translate: 5% 0;
    text-align: center;
    
    @include media(sm) {
      font-size: 3.25vw !important;
      text-align: left;
    }
  }

  @keyframes fadeIn {
    to {
      translate: 0 0;
      opacity: 1;
    }
  }
}
</style>
