---
import MarkdownText from "@/components/typography/MarkdownText.astro";
import Typo from "@/components/typography/Typo.astro";

interface Props {
  title?: string;
  text?: string;
  steps?: Array<{ title: string; text: string }>;
}

const { title, text, steps = [] } = Astro.props;
---
<div class="how">
  <article>
    {title && <Typo class="title" text={title} tag="h2" weight="black" color="primary" size={['tr', 'qt']} balancer />}
    {text && <MarkdownText text={text} color="primary" size={['lg', 'xxl']}  />}
  </article>
  <div class="list">
    {steps.map((step, index) => (
        <div class="step">
          <div class="number">
            <Typo text={index + 1} tag="p" weight="black" color="primary" size={['xxl', 'big']} balancer />
          </div>
          <article class="article">
            <Typo class="title" text={step.title} tag="h3" weight="black" color="primary" size={['xxl', 'tr']} balancer />
            <MarkdownText text={step.text} color="primary" size={['lg', 'xxl']}  />
          </article>
        </div>
      )
    )}
  </div>
</div>

<script>
  import animateOnScroll from "../../utils/animation";
  
  const config = [
    {
      target: ".number",
      origin:[ 'center', 'center'],
      transformations: [
        {
          type: 'scale',
          start: 0.6,
          end: 1
        }
      ]
    },
    {
      target: ".article",
      origin:[ 'left', 'top'],
      transformations: [
        {
          type: 'scale',
          start: 0.9,
          end: 1
        }
      ]
    }
  ]
  
  const initializeAnimations = animateOnScroll(config);
  initializeAnimations();
</script>

<style lang="scss">
.how {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--c-secondary);
  gap: 5vw;
  
  @include media(md) {
    grid-template-columns: 1fr 2fr;
  }
}

.how > article{
  display: flex;
  flex-direction: column;
  gap: var(--s-xxl);
}

.how :global(.title) {
  @include last-character;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--s-xxl)
}

.step {
  display: grid;
  grid-template-columns: var(--s-qr) 1fr;
  align-items: baseline;
  gap: var(--s-xxl)
}

.number {
  width: var(--s-qr);
  height: var(--s-qr);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-accent);
  aspect-ratio: 1/1;
  border-radius: 50%;
}
</style>
