---
import DesignAnimation from "@/components/animations/DesignAnimation.astro";
import DevelopmentAnimation from "@/components/animations/DevelopmentAnimation.astro";
import MarkdownText from "@/components/typography/MarkdownText.astro";
import Typo from "@/components/typography/Typo.astro";
import { useTranslations } from "@/i18n/i18n";

const t = useTranslations("en");
---
<div class="what">
  <article>
    <Typo class="title" text={t('home.what.title')} tag="h2" weight="black" color="secondary" size={['tr', 'qt']} balancer />
    <MarkdownText class="text" text={t('home.what.text')} color="secondary" size={['df', 'xxl']}  />
  </article>
  <div>
    <article>
      <Typo class="title" text={t('home.what_design.title')} tag="h3" weight="black" color="secondary" size={['xxl', 'tr']} balancer />
      <MarkdownText text={t('home.what_design.text')} color="secondary" size={['df', 'xxl']}  />
    </article>
    <DesignAnimation class="illustration" />
  </div>
  <div class="divider" />
  <div>
    <DevelopmentAnimation class="illustration" />
    <article>
      <Typo class="title" text={t('home.what_develop.title')} tag="h3" weight="black" color="secondary" size={['xxl', 'tr']} balancer />
      <MarkdownText text={t('home.what_develop.text')} color="secondary" size={['df', 'xxl']}  />
    </article>
  </div>
</div>


<style lang="scss">
  .what {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5vw;
  
  @include media(sm) {
    grid-template-columns: 1fr auto 1fr;
  }
}

.what article,
.what > div {
  display: flex;
  flex-direction: column;
}

.what > div:nth-child(2) {
  flex-direction: column-reverse;
  
  @include media(sm) {
    flex-direction: column;
  }
}

.what article {
  gap: var(--s-xxl);
}

.what > article {
  justify-self: center;
  gap: var(--s-xxl);
  
  @include media(sm) {
    grid-column: 1/4;
  }
}

.what > div {
  gap: var(--s-tr);
}

.what :global(.illustration) {
  width: 60%;
  align-self: center;
}

.divider {
  width: 2px;
  height: 100%;
  background-color: var(--c-accent);
}

.what > article > :global(.title) {
  @include media(sm) {
    text-align: center;
  }
}

.what > article > :global(.text) {
  @include media(sm) {
    text-align: center;
  }
}
  
  .what  :global(.title) {
    @include last-character();
  }

</style>
