---
import MarkdownText from "@/components/typography/MarkdownText.astro";
import Typo from "@/components/typography/Typo.astro";
import WhyAnimation from "../animations/WhyAnimation.astro";

interface Props {
	title?: string;
	text?: string;
}

const { title, text } = Astro.props;
---
<div class="why">
  <article>
    {title && <Typo class="title" text={title} tag="h2" weight="black" color="primary" size={['tr', 'qt']} balancer />}
    {text && <MarkdownText text={text} color="primary" size={['df', 'xxl']}  />}
  </article>
  <WhyAnimation class="illustration"/>
</div>

<style lang="scss">
  .why {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5vw;
  
  @include media(lg) {
    grid-template-columns: 2fr 1fr;
    align-content: start;
  }
}

.why article {
  display: flex;
  flex-direction: column;
  gap: var(--s-xxl);
}

.why :global(.title) {
  @include last-character('!');
}

.why :global(.illustration) {
  width: 60%;
  justify-self:  center;
  
  @include media(md) {
    width: 40%;
  }
  
  
  @include media(lg) {
    width: 100%;
  }
}

</style>
