---
import Why from "@/assets/illustrations/why.svg";
import MarkdownText from "@/components/typography/MarkdownText.astro";
import Typo from "@/components/typography/Typo.astro";
import { useTranslations } from "@/i18n/i18n";

const { lang } = Astro.params;
const t = useTranslations(lang as "en" | "it");
---
<div class="why">
  <article>
    <Typo class="title" text={t('home.why.title')} tag="h2" weight="black" color="primary" size={['tr', 'qt']} balancer />
    <MarkdownText text={t('home.why.text')} color="primary" size={['lg', 'xxl']}  />
  </article>
  <Why class="illustration" width="100%"/>
</div>

<style lang="scss">
@use '@/styles/mixins/media';
@use '@/styles/mixins/utils';

.why {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5vw;
  
  @include media.media(sm) {
    grid-template-columns: 2fr 1fr;
    align-content: start;

  }
}

.why article {
  display: flex;
  flex-direction: column;
  gap: var(--s-xxl);
}

.why :global(.title) {
  @include utils.last-character('!');
}

.illustration > :global(path) {
  transform-origin: center center;

}

.illustration > :global(path:nth-child(3)) {


}
</style>
