---
import DatoCms from "@/assets/tags/datocms.svg";
import NextJs from "@/assets/tags/nextjs.svg";
import Notion from "@/assets/tags/notion.svg";
import React from "@/assets/tags/react.svg";
import Sass from "@/assets/tags/sass.svg";
import Supabase from "@/assets/tags/supabse.svg";
import TypeScript from "@/assets/tags/typescript.svg";
import Vue from "@/assets/tags/vue.svg";
import { useTranslations } from "@/i18n/i18n";
import Typo from "./typography/Typo.astro";

interface Props {
	tag: string;
}

const { tag } = Astro.props;

const t = useTranslations("en");

const iconMap = {
	react: React,
	typescript: TypeScript,
	sass: Sass,
	vue: Vue,
	datocms: DatoCms,
	notion: Notion,
	nextjs: NextJs,
	supabase: Supabase,
};

const Icon = iconMap[tag as keyof typeof iconMap] || null;

if (!Icon) return;
---

<div class="tag">
  <Icon width="4rem" height="4rem" fill="var(--c-accent)" />
  <Typo text={t(`label.${tag}`)} color="accent" size={['md', 'lg']} />
</div>

<style lang="scss">
  .tag {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--s-xxs);
  }

</style>
