---
import ContactsCta from "@/components/blocks/ContactsCta.astro";
import HeroPage from "@/components/blocks/HeroPage.astro";
import Layout from "@/components/layouts/Layout.astro";
import MarkdownText from "@/components/typography/MarkdownText.astro";

import { getStaticPaths } from "@/i18n/i18n";
import Section from "../../components/layouts/Section.astro";

export { getStaticPaths };
const { lang } = Astro.params;

const about = await import(`../../content/${lang}/about.md`);
---

<Layout theme="default">
  <HeroPage title={about.frontmatter.title} />
  <Section maxWidth="sm">
    <MarkdownText text={about.rawContent()} size={['lg', 'xxl']} />
  </Section>
  <Section maxWidth="df" bgColor="secondary">
    <ContactsCta color="primary" align="center" />
  </Section>
</Layout>

