---
import ContactsCta from "@/components/blocks/ContactsCta.astro";
import HeroPage from "@/components/blocks/HeroPage.astro";
import Layout from "@/components/layouts/Layout.astro";
import MarkdownText from "@/components/typography/MarkdownText.astro";

import { getStaticPaths } from "@/i18n/i18n";

export { getStaticPaths };
const { lang } = Astro.params;

const about = await import(`../../content/${lang}/about.md`);
---

<Layout theme="default">
  <HeroPage title={about.frontmatter.title} />
  <section class="content">
    <MarkdownText text={about.rawContent()} size={['lg', 'xxl']} />
  </section>
  <section class="section section-invert">
    <ContactsCta color="primary" align="center" />
  </section>
</Layout>

<style lang="scss">
@use '@/styles/mixins/media';

.content,
.section {
  padding-block: 6rem;
  padding-inline: var(--s-xxl);

  @include media.media(lg) {
    padding-inline: var(--s-big);
  }
}

.content > :global(*) {
  max-width: var(--w-max-sm);
  margin-inline: auto;
}

.content :global(img) {
  @include media.media(lg) {
    width: calc(100% + 10rem);
    margin-inline: -5rem;
  }
}

.section > :global(*) {
  max-width: var(--w-max-df);
  margin-inline: auto;
}

.section-invert  {
  background-color: var(--c-secondary);
}
</style>
