// Prevent text selection
@mixin prevent-text-selection {
  -webkit-touch-callout: none;
  user-select: none;
}

// Focus visibile
@mixin focus-visible(
  $radius: false,
  $color: var(--c-accent),
  $width: 0.125rem,
  $offset: 0.125rem
) {
  @if $radius {
    border-radius: $radius;
  }

  outline: $width solid $color;
  outline-offset: $offset;
}


@mixin last-character(
  $character: '.',
  $color: var(--c-accent),
) {
  &::after {
    content: $character;
    color: $color;
  }
}
